<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Web Application</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c8afef">  <td>21/12/26 19:02:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeBrowser()[pri:0, instance:web.tyss.com.scripts.Nike@3549bca9]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1936502650</td>   <td></td> </tr>
<tr bgcolor="c8afef">  <td>21/12/26 19:01:32</td>   <td>-42114</td> <td title="&gt;&gt;BaseTest.createFiles()[pri:0, instance:web.tyss.com.scripts.Nike@3549bca9]">&gt;&gt;createFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1936502650</td>   <td></td> </tr>
<tr bgcolor="c8afef">  <td>21/12/26 19:02:16</td>   <td>1836</td> <td title="&lt;&lt;BaseTest.killTask(java.lang.String)[pri:0, instance:web.tyss.com.scripts.Nike@3549bca9]">&lt;&lt;killTask</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1936502650</td>   <td></td> </tr>
<tr bgcolor="c8afef">  <td>21/12/26 19:01:32</td>   <td>-41987</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.launchApp(java.lang.String)[pri:0, instance:web.tyss.com.scripts.Nike@3549bca9]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1936502650</td>   <td></td> </tr>
<tr bgcolor="c8afef">  <td>21/12/26 19:01:52</td>   <td>-21809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setExtentReport(java.lang.reflect.Method)[pri:0, instance:web.tyss.com.scripts.Nike@3549bca9]">&gt;&gt;setExtentReport</td> 
<td>&nbsp;</td>  <td>main@1936502650</td>   <td></td> </tr>
<tr bgcolor="f08c92">  <td>21/12/26 19:01:52</td>   <td>-21808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Nike.shopAtNike(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:web.tyss.com.scripts.Nike@3549bca9]">shopAtNike</td> 
  <td>main@1936502650</td>   <td></td> </tr>
</table>
