<h2>Reporter output</h2><table><tr><td>Verify submenu is Clickable or Not</td></tr>
<tr><td>no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='categories css-10qr031 is--desktop']//a[text()='Skateboarding']"}
  (Session info: chrome=96.0.4664.110)
For documentation on this error, please visit: https://www.seleniumhq.org/exceptions/no_such_element.html
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:17:03'
System info: host: 'LAPTOP-MRSNP4RR', ip: '192.168.225.23', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.version: '15.0.2'
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 96.0.4664.110, chrome: {chromedriverVersion: 96.0.4664.45 (76e4c1bb2ab46..., userDataDir: C:\Users\mechm\AppData\Loca...}, goog:chromeOptions: {debuggerAddress: localhost:52754}, javascriptEnabled: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: WINDOWS, platformName: WINDOWS, proxy: Proxy(), setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:extension:credBlob: true, webauthn:extension:largeBlob: true, webauthn:virtualAuthenticators: true}
Session ID: 9844a3b90974ed08ab017a481082818d
*** Element info: {Using=xpath, value=//div[@class='categories css-10qr031 is--desktop']//a[text()='Skateboarding']}</td></tr>
<tr><td>Unable to click sub category</td></tr>
</table>